.mg-config {
    margin-top: 10vw;
}

.borda {
    border-left-style: solid;
    border-color: #211814;
    border-width: 3px;
    box-shadow: 5px 1px 18px #3f2e27;
}

.bg-marrom {
    background-color: #211814;
}

.img-fundo {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: -1;
    opacity: 0.5;
}

.field-icon {
    float: right;
    padding-right: 25px;
    margin-top: -25px;
}

.btn-cad {
    border-style: solid;
    border-color: #150b06;
    background-color: #5b2e1a;
    color: white;
    border-width: 2px;
    border-radius: 25px;
    max-width: auto;
    height: 6vh;
    box-shadow: 2px 3px #000000;
    font-size: 18px;
}

.btn-cad:hover {
    background-color: #662e15;
    transition: background-color 0.5s;
}

.barra {
    background-color: #5c3b31;
    width: 26vw;
    height: 8px;
    border-radius: 50px;
}

.txt-Gran {
    font-family: 'Lobster', cursive;
    color: #5c3a31;
    text-shadow: 1px 2px 2px #000000;
    font-size: 100px;
}

.txt-Gran-Mobile {
    font-family: 'Lobster', cursive;
    color: #5c3a31;
    text-shadow: 1px 2px 2px #000000;
    font-size: 70px;
    text-align: center;
    margin-top: -15vh;

}

.txt-CriarConta {
    font-family: 'Lobster', cursive;
    color: #5c3a31;
    text-shadow: 1px 2px 2px #000000;
    font-size: 70px;
    text-align: center;
    margin-top: -25vh;
}

.txt-truafaria {
    color: #5c3a31;
    font-family: 'Bitter', serif;
    text-shadow: 1px 2px 2px #000000;
    font-size: 35px;
}

.txt-data {
    color: #5c3a31;
    font-family: 'Bitter', serif;
    background-color: #b09e6c;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    width: 10vw;
    font-size: 15px;
    padding: 5px;
}
