html{
    scroll-behavior: smooth;
}
#logo{
    font-size: 50px !important;
    color: #1f1604;
    font-family: 'Lobster', cursive;
}
body{
    background-color: pink !important;
    margin: 0px;
}
.nav-button{
    display: none;
    background-color:white;
    border-style: none;
    border-radius: 0px;
    font-family: 'Ubuntu Condensed', "sans-serif";
    color: #1f1604 !important;
    font-size: 28px;
}

.nav-button:hover{
    color: #1f1604 !important;
    background-color: rgb(255, 228, 233);
    border-radius: 20px;
    height: 50px;
    transition: border 0.5s, background-color 0.5s; 
}

#forma{
    margin-top: 2px;
    border-style: solid;
    border-radius: 5px;
    color: #1f1604;
    margin-left: 50%;
    margin-right: 50%;
    color: white;
    /* transition: all 0.5s; */
}

h1{
    color: #1f1604;
    font-family: 'Ubuntu Condensed', "sans-serif";
}
