.font-Bitter {
            font-family: 'Bitter', serif;
            text-shadow: 2px 1px 2px #000000;
        }

        .mg-config {
            margin-top: 30vh;
        }

        .bg-marrom {
            background-color: #211814;
        }

        .img-fundo {
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 5px;
            top: 0px;
            z-index: -1;
            filter: blur(5px);
            opacity: 0.5;
        }

        .field-icon {
            float: right;
            padding-right: 25px;
            margin-top: -25px;
        }

        .btn-cad {
            width: 100% !important;
            height: 2em;
            border-radius: 0.2em;
            background-color: #5b2e1a;
            border-style: solid;
            border-color: #150b06;
            color: white;
            border-width: 0.5px;
            box-shadow: 1px 2px #000000;
            font-size: 18px;
            margin-top: 1vh;
        }

        .btn-cad:hover {
            background-color: #662e15;
            transition: background-color 0.5s;
        }

        .barra {
            background-color: #5c3b31;
            width: 26vw;
            height: 8px;
            border-radius: 50px;
        }

        .txt-Gran {
            font-family: 'Lobster', cursive;
            color: #5c3a31;
            text-shadow: 1px 2px 2px #000000;
            font-size: 100px;
        }

        .txt-Gran-Mobile {
            font-family: 'Lobster', cursive;
            color: #5c3a31;
            text-shadow: 1px 2px 2px #000000;
            font-size: 70px;
            text-align: center;
            margin-top: -15vh;
        }

        .txt-CriarConta {
            font-family: 'Lobster', cursive;
            color: #5c3a31;
            text-shadow: 1px 2px 2px #000000;
            font-size: 70px;
            text-align: center;
            margin-top: -25vh;
        }

        .txt-truafaria {
            color: #5c3a31;
            font-family: 'Bitter', serif;
            text-shadow: 1px 2px 2px #000000;
            font-size: 35px;
        }

        .txt-data {
            color: #5c3a31;
            font-family: 'Bitter', serif;
            background-color: #b09e6c;
            border-style: solid;
            border-width: 2px;
            border-radius: 50px;
            width: 10vw;
            font-size: 15px;
            padding: 5px;
        }

        .loginBtn {
            box-sizing: border-box;
            position: relative;
            padding: 0 15px 0 46px;
            border: none;
            text-align: left;
            line-height: 34px;
            white-space: nowrap;
            border-radius: 0.2em;
            font-size: 16px;
            color: #FFF;
            width: 49%;
        }

        .loginBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
        }

        .loginBtn:focus {
            outline: none;
        }

        .loginBtn:active {
            box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
        }

        @media screen and (min-width: 992px) {
            .loginBtn {
                font-size: 1vw;
            }

            .mg-config {
                margin-top: 50%;
            }
        }

        @media screen and (max-width: 993px) {
            .loginBtn {
                font-size: 3vw;
            }

            .mg-config {
                margin-top: 10vh;
            }
        }