body {
    background-color: #fffef7;
}

.btn-social-icon {
    color: white;
}

.btn-social-icon:hover {
    color: white;
}

footer {
    background-color: #0f0f0f;
    margin-top: 5vh;
    padding: 50px;
}

nav {
    border-bottom: 5px solid;
    border-color: #FEFEFE;
    border-width: 1px;
}

.bg-dark {
    width: 100%;
    background: rgba(15, 15, 15, 0.9) !important;
}

.bg-brown {
    background-color: #4a372f;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #1a1310;
    box-shadow: inset 0 0 1em #120d0b;
    padding: 20px;
    color: white;
}

.btn-carrosel {
    background-color: black;
    height: 9%;
    border-radius: 25px;
}

.nav-link {
    font-family: 'Bitter', serif;
    font-size: 20px;
    margin-top: 10px !important;
}

.nav-link:hover {
    color: #ffffff !important;
    transition: 0.5s;
}

.img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100% !important;
    height: auto;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.img-card {
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 150px;
}

#btnAddCard:hover {
    background-color: #664c40;
    transition: 0.5s;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

@media(min-width: 992px) {
    .bg-dark {
        position: absolute;
        z-index: 1;
    }
}

@media(max-width: 991px) {
    .img-card {
        width: 100%;
        height: auto;
    }
}

@media(min-width: 992px) {
    .img-card {
        width: 100%;
        height: 200px;
    }
}