body{
    background-color:#fffef7;
}
.font-Lobster{
    font-family: 'Lobster', cursive;
}
.font-Bitter{
    font-family: 'Bitter', serif;
    text-shadow: 2px 1px 2px #000000;
}
.responsive-img-fundo{
    width: 100%;
    height: auto;	
}
.responsive-img{
    width: 100%;
    height: auto;	
}
.navbar{
        z-index: 1 !important; 
        position: absolute !important; 
        width: 100%; 
    }
.bg-brown-t{
    background: rgba(74, 55, 47, 0.8);
}
.bg-brown{
    background-color: #4a372f;
}
.bg-dark{
    background: rgba(15, 15, 15, 0.9) !important;
    border-bottom: 5px solid;
    border-color: #FEFEFE;
    border-width: 1px;
}
.txt-config{
    z-index: 1; 
    position: absolute; 
    margin-top: 15%;
}
.my-5{
    margin-top: 20vh !important;
    margin-bottom: 20vh !important;
}
.efeito {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
    opacity: 0;
}
.efeito_aparecer {
    opacity: 1;
}
footer{
    background-color: #0f0f0f;
    margin-top: 5vh;
    padding: 50px;
}
.btn-social-icon{
    color: white;
}
.btn-social-icon:hover{
    color: white;
}
@media(max-width: 992px){
    .txt-config{
        z-index: 0; 
        position: relative; 
        margin-top: 0;
    }
    .navbar{
        z-index: 0 !important; 
        position: relative !important; 
        width: 100%; 
    }
    .bg-brown-t{
        background-color: #4a372f;
    }
    .border{
        border-style: none !important;
    }
    .rounded{
        border-radius: 0 !important;
    }
}